/* ------------------------------------------------------------------*/
.codeLover .markItUpButton1 a {
	background-image:url(images/grid-100.png);
}
.codeLover .markItUpButton2 a {
	background-image:url(images/grid-50-50.png);
}
.codeLover .markItUpButton3 a {
	background-image:url(images/grid-25-75.png);
}
.codeLover .markItUpButton4 a {
	background-image:url(images/grid-75-25.png);
}
.codeLover .markItUpButton5 a {
	background-image:url(images/grid-33-66.png);
}
.codeLover .markItUpButton6 a {
	background-image:url(images/grid-66-33.png);
}
.codeLover .markItUpButton7 a {
	background-image:url(images/grid-33-33-33.png);
}
.codeLover .markItUpButton8 a {
	background-image:url(images/grid-25-50-25.png);
}
.codeLover .markItUpButton9 a {
	background-image:url(images/grid-25-25-50.png);
}
.codeLover .markItUpButton10 a {
	background-image:url(images/grid-50-25-25.png);
}
.codeLover .markItUpButton11 a {
	background-image:url(images/grid-25x4.png);
}
/*------------------------------------------------------------------*/
.codeLover .markItUpButton12 a {
	background-image:url(images/h1.png);
}
.codeLover .markItUpButton13 a {
	background-image:url(images/h2.png);
}
.codeLover .markItUpButton14 a {
	background-image:url(images/h3.png);
}
.codeLover .markItUpButton15 a {
	background-image:url(images/h4.png);
}
.codeLover .markItUpButton16 a {
	background-image:url(images/h5.png);
}
.codeLover .markItUpButton17 a {
	background-image:url(images/h6.png);
}
/*------------------------------------------------------------------*/
.codeLover .markItUpButton18 a {
	background-image:url(images/div.png);
}
.codeLover .markItUpButton19 a {
	background-image:url(images/p.png);
}
.codeLover .markItUpButton20 a {
	background-image:url(images/ul.png);
}
.codeLover .markItUpButton21 a {
	background-image:url(images/ol.png);
}
.codeLover .markItUpButton22 a {
	background-image:url(images/img.png);
}
.codeLover .markItUpButton23 a {
	background-image:url(images/a.png);
}
/*------------------------------------------------------------------*/
.codeLover .markItUpButton24 a {
	background-image:url(images/php.png);
}
.codeLover .markItUpButton25 a {
	background-image:url(images/js.png);
}
.codeLover .preview a {
	background-image:url(images/preview.png);
}